.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.home-header {
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--dl-color-gray-notblack);
}
.home-about {
  color: var(--dl-color-success-7001);
  padding: var(--dl-space-space-twounits);
  align-self: center;
}
.home-research {
  color: var(--dl-color-success-7001);
  padding: var(--dl-space-space-twounits);
  align-self: center;
}
.home-c-v {
  color: var(--dl-color-success-7001);
  padding: var(--dl-space-space-twounits);
  align-self: center;
}
.home-top {
  width: 100%;
  height: 683px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.home-container01 {
  top: TwentyUnits;
  left: 158px;
  width: 387.6499938964844px;
  bottom: var(--dl-space-space-halfunit);
  height: 143.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-container02 {
  top: -64px;
  left: 0px;
  width: 387.6499938964844px;
  height: 155.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.home-text {
  top: 0px;
  left: 0px;
  color: var(--dl-color-success-3001);
  position: absolute;
}
.home-text01 {
  left: 0px;
  color: var(--dl-color-success-5001);
  bottom: -14px;
  position: absolute;
}
.home-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.home-image1 {
  right: 140px;
  width: 217px;
  bottom: 22px;
  height: 221px;
  position: absolute;
  object-fit: cover;
}
.home-about-me {
  width: 100%;
  height: 293px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 160px;
  padding-right: 160px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: rgba(194, 210, 169, 0);
}
.home-text02 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text05 {
  text-decoration: underline;
}
.home-text07 {
  text-decoration: underline;
}
.home-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-twitter {
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-icon {
  width: 74px;
  height: 33px;
}
.home-link4 {
  text-decoration: none;
}
.home-email {
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-icon2 {
  width: 70px;
  height: 38px;
}
.home-link5 {
  text-decoration: none;
}
.home-researchgate {
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-research-topics {
  width: 100%;
  height: 1088px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2em;
  justify-content: center;
  background-color: #102500;
}
.home-text10 {
  color: var(--dl-color-gray-white);
  padding-top: 1em;
  padding-bottom: 1em;
}
.home-container03 {
  width: 100%;
  height: 1130px;
  display: flex;
  align-items: flex-start;
  padding-left: 3em;
  padding-right: 3em;
  justify-content: space-between;
}
.home-container04 {
  flex: 0 0 auto;
  width: 340px;
  height: 850px;
  margin: 1em;
  display: flex;
  padding: 1em;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container05 {
  flex: 0 0 auto;
  width: 296px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-text11 {
  text-align: center;
}
.home-image2 {
  width: 290px;
  height: 290px;
  object-fit: cover;
}
.home-container06 {
  flex: 0 0 auto;
  width: 340px;
  height: 850px;
  margin: 1em;
  display: flex;
  padding: 1em;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container07 {
  flex: 0 0 auto;
  width: 301px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-text16 {
  text-align: center;
}
.home-image3 {
  width: 290px;
  height: 290px;
  object-fit: cover;
}
.home-container08 {
  flex: 0 0 auto;
  width: 340px;
  height: 850px;
  margin: 1em;
  display: flex;
  padding: 1em;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container09 {
  flex: 0 0 auto;
  width: 301px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-text21 {
  text-align: center;
}
.home-image4 {
  width: 290px;
  height: 290px;
  object-fit: cover;
}
.home-publications {
  width: 100%;
  height: 872px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text23 {
  margin-top: var(--dl-space-space-fourunits);
  margin-left: var(--dl-space-space-fiveunits);
}
.home-ul {
  width: 1439px;
  margin-left: 3em;
  margin-right: 3em;
}
.home-li {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}
.home-li1 {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}
.home-li2 {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}
.home-li3 {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}
.home-li4 {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}
.home-other-interests {
  width: 100%;
  height: 488px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text29 {
  margin-top: var(--dl-space-space-fourunits);
  margin-left: var(--dl-space-space-fiveunits);
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 3em;
}
.home-behance {
  flex: 0 0 auto;
  width: 486px;
  display: flex;
  margin-top: 1em;
  align-items: flex-start;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.home-image5 {
  width: 220px;
  height: 220px;
  object-fit: cover;
  margin-right: 1em;
}
.home-text30 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link6 {
  display: contents;
}
.home-text31 {
  text-decoration: none;
}
.home-diving {
  flex: 0 0 auto;
  width: 653px;
  display: flex;
  margin-top: 1em;
  align-items: flex-start;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.home-image6 {
  width: 220px;
  height: 220px;
  object-fit: cover;
  margin-right: 1em;
}
.home-p-a-d-i {
  flex: 0 0 auto;
  width: 675px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-footer {
  width: 100%;
  height: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #102500;
}
.home-footer1 {
  width: 521px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-text36 {
  color: var(--dl-color-success-7001);
}
.home-text37 {
  color: var(--dl-color-success-3001);
}
.home-image7 {
  width: 147px;
  height: 144px;
  object-fit: cover;
}
@media(max-width: 1200px) {
  .home-top {
    height: 481px;
  }
  .home-container02 {
    top: -34px;
    left: -57px;
  }
  .home-text {
    top: 0px;
    left: 0px;
  }
  .home-text01 {
    left: 0px;
    bottom: 0px;
  }
  .home-image {
    width: 100%;
    height: auto;
  }
  .home-image1 {
    right: 75px;
    width: 205px;
    bottom: 16px;
    height: 208px;
    position: absolute;
  }
  .home-about-me {
    height: 286px;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-twitter {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon {
    width: 58px;
    height: 39px;
    margin-right: 0px;
  }
  .home-email {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon2 {
    width: 46px;
    height: 36px;
  }
  .home-researchgate {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-research-topics {
    height: 1142px;
  }
  .home-container03 {
    align-items: flex-start;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: center;
  }
  .home-container04 {
    height: 900px;
    margin: 1em;
    padding-top: 1em;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 1em;
    background-color: var(--dl-color-gray-white);
  }
  .home-image2 {
    width: 280px;
    height: 280px;
    align-self: center;
  }
  .home-text15 {
    margin: 1em;
  }
  .home-container06 {
    height: 900px;
    margin-top: 1em;
    align-items: center;
    margin-left: 1em;
    padding-top: 1em;
    margin-right: 1em;
    padding-left: 0em;
    margin-bottom: 1em;
    padding-right: 0em;
    padding-bottom: 1em;
    background-color: var(--dl-color-gray-white);
  }
  .home-image3 {
    width: 280px;
    height: 280px;
    align-self: center;
  }
  .home-text17 {
    margin: 1em;
  }
  .home-container08 {
    height: 900px;
    margin-top: 1em;
    margin-left: 1em;
    padding-top: 1em;
    margin-right: 1em;
    padding-left: 0em;
    margin-bottom: 1em;
    padding-right: 0em;
    padding-bottom: 1em;
    background-color: var(--dl-color-gray-white);
  }
  .home-image4 {
    width: 280px;
    height: 280px;
    align-self: center;
  }
  .home-text22 {
    margin: 1em;
  }
  .home-publications {
    height: 1054px;
    flex-direction: column;
  }
  .home-ul {
    width: 1113px;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
  }
  .home-li {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
  }
  .home-li1 {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
  }
  .home-li2 {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
  }
  .home-li3 {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
  }
  .home-li4 {
    width: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
  }
  .home-other-interests {
    height: 445px;
  }
  .home-container10 {
    margin-top: 2em;
    padding-left: 1em;
    margin-bottom: 2em;
    padding-right: 1em;
    justify-content: center;
  }
  .home-behance {
    width: 417px;
    margin-left: 1em;
    margin-right: 1em;
  }
  .home-image5 {
    width: 140px;
    height: 140px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-text30 {
    width: 293px;
  }
  .home-diving {
    width: 460px;
    margin-left: 1em;
    margin-right: 1em;
  }
  .home-image6 {
    width: 140px;
    height: 140px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-p-a-d-i {
    width: 413px;
  }
  .home-footer {
    height: 226px;
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    flex-direction: row;
    justify-content: center;
    background-color: #102500;
  }
  .home-footer1 {
    width: 513px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-text36 {
    color: var(--dl-color-success-5001);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text37 {
    color: var(--dl-color-success-3001);
  }
  .home-image7 {
    width: 148px;
    height: 148px;
  }
}
@media(max-width: 991px) {
  .home-top {
    height: 438px;
  }
  .home-container01 {
    top: 250px;
  }
  .home-container02 {
    left: -72px;
    width: 423px;
    bottom: -68px;
    margin: auto;
    position: absolute;
    align-items: stretch;
    justify-content: center;
  }
  .home-text {
    top: -4px;
    left: 0px;
  }
  .home-text01 {
    left: 0px;
    bottom: -12px;
    text-align: left;
  }
  .home-image {
    box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0);
    border-color: rgba(0, 0, 0, 0);
    border-style: hidden;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-image1 {
    right: 88px;
    width: 159px;
    bottom: 22px;
    height: 161px;
  }
  .home-about-me {
    height: 382px;
  }
  .home-text02 {
    max-width: 100%;
  }
  .home-twitter {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .home-email {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .home-researchgate {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .home-research-topics {
    height: 1730px;
  }
  .home-container03 {
    align-items: center;
    flex-direction: column;
  }
  .home-container04 {
    width: 100%;
    height: 465px;
    flex-direction: row;
  }
  .home-container05 {
    margin: 1em;
  }
  .home-text11 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-container06 {
    width: 100%;
    height: 465px;
    flex-direction: row;
  }
  .home-container07 {
    margin: 1em;
  }
  .home-text16 {
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-container08 {
    width: 100%;
    height: 465px;
    flex-direction: row;
  }
  .home-container09 {
    margin: 1em;
  }
  .home-text21 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-publications {
    height: 1171px;
  }
  .home-ul {
    width: 943px;
  }
  .home-other-interests {
    height: 414px;
  }
  .home-container10 {
    padding-left: 0em;
    padding-right: 0em;
  }
  .home-behance {
    width: 387px;
    margin: 0em;
  }
  .home-text30 {
    width: 196px;
  }
  .home-diving {
    margin: 0em;
  }
  .home-p-a-d-i {
    width: 340px;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .home-top {
    height: 424px;
  }
  .home-container01 {
    top: 9em;
    flex: 1;
    left: var(--dl-space-space-threeunits);
  }
  .home-container02 {
    top: -8px;
    left: -17px;
    position: absolute;
  }
  .home-text {
    top: -5px;
    left: 7px;
  }
  .home-text01 {
    left: var(--dl-space-space-unit);
    right: -10px;
    width: 390px;
    bottom: -11px;
  }
  .home-image1 {
    right: 92px;
    width: 134px;
    bottom: 61px;
    height: 136px;
  }
  .home-about-me {
    margin-top: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }
  .home-text02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-social-bar {
    height: 268px;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-twitter {
    padding-top: var(--dl-space-space-unit);
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-email {
    padding-top: var(--dl-space-space-unit);
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-researchgate {
    padding-top: var(--dl-space-space-unit);
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-research-topics {
    height: 1739px;
  }
  .home-text10 {
    align-self: center;
  }
  .home-container03 {
    height: 1520px;
    align-items: center;
    padding-top: 0px;
    flex-direction: column;
  }
  .home-publications {
    height: 1385px;
  }
  .home-ul {
    width: 719px;
  }
  .home-other-interests {
    height: 567px;
  }
  .home-container10 {
    width: 767px;
    padding-left: 86px;
    flex-direction: column;
  }
  .home-behance {
    margin-bottom: 1em;
  }
  .home-image5 {
    height: 140px;
  }
  .home-diving {
    width: 508px;
    margin-bottom: 1em;
  }
  .home-image6 {
    height: 140px;
  }
  .home-footer1 {
    width: 538px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text36 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .home-top {
    height: 362px;
  }
  .home-container01 {
    top: 160px;
    left: 40px;
    bottom: 0px;
    position: absolute;
    align-self: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .home-container02 {
    left: -6px;
    bottom: -24px;
  }
  .home-text {
    top: -1px;
    left: 9px;
  }
  .home-text01 {
    right: -20px;
    bottom: -9px;
  }
  .home-image1 {
    top: 46px;
    left: 39px;
    width: 102px;
    height: 103px;
  }
  .home-about-me {
    height: 614px;
    padding: 1em;
    margin-top: 0em;
  }
  .home-social-bar {
    align-self: flex-start;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-twitter {
    padding-top: var(--dl-space-space-unit);
  }
  .home-email {
    padding-top: var(--dl-space-space-unit);
  }
  .home-researchgate {
    padding-top: var(--dl-space-space-unit);
  }
  .home-research-topics {
    height: 2752px;
  }
  .home-container03 {
    height: 2550px;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    flex-direction: column;
  }
  .home-container04 {
    height: 788px;
    flex-direction: column;
  }
  .home-container06 {
    height: 788px;
    flex-direction: column;
  }
  .home-container08 {
    height: 788px;
    flex-direction: column;
  }
  .home-publications {
    height: 2583px;
    padding-top: var(--dl-space-space-unit);
  }
  .home-ul {
    width: 421px;
  }
  .home-other-interests {
    height: 1263px;
    align-items: center;
  }
  .home-text29 {
    margin-left: 0px;
  }
  .home-container10 {
    width: 396px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-behance {
    margin-left: 0em;
    margin-right: 0em;
    flex-direction: column;
  }
  .home-image5 {
    width: 372px;
    height: 372px;
  }
  .home-text30 {
    margin-left: 1em;
  }
  .home-diving {
    width: 385px;
    margin-left: 0em;
    margin-right: 0em;
    flex-direction: column;
  }
  .home-image6 {
    width: 372px;
    height: 372px;
  }
  .home-p-a-d-i {
    margin-left: 1em;
  }
  .home-footer1 {
    width: 286px;
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text36 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}
